.col-md-8
  %h2 How it works
  We print and deliver documents to individuals and businesses in New York City. Just upload a document, click print, and we’ll deliver it right to your door (or wherever you are!) within 3 hours. With Valet Print, you can avoid all the logistical hassles of finding a print shop, transporting your document on a USB, and handling unpredictable wait times. Plus, we deliver 24/7 for those last minute emergency print jobs.


.col-md-8
  .faq
    %h2 FAQ
    .question
      %b What kind of documents can I print?
      %p You can print 8x11 sheets in color or black & white. We can print anywhere from a single sheet (e.g. a resume) to 100s of pages (e.g. legal documents). We may expand the kinds of printing we do over time. 
    %br
    .question
      %b When do I receive my print order?
      %p We guarantee delivery within 2 hours or your money back.
    %br

    .question
      %b How are my documents protected in transit from getting wrinkled, etc? 
      %p We place all documents into a metal container during transit so that they stay 100% protected. We also seal the documents in brown envelopes so that they are completely confidential. 
    %br

    .question
      %b Can I pay online?
      %p Yes, just select PayPal or Venmo in the checkout form, and we’ll send payment instructions by email. 
    %br

    .question
      %b Where do you deliver?
      %p Everywhere in Manhattan and parts of Brooklyn. 
    %br

    .question
      More questions? Email 
      =mail_to 'ethan@valetprint.com'
