.container
  .col-md-12
    #time.pull-right
    %br
    %h1.text-center 
      Valet Print
      %sup 

    .cta.text-center 2 hour delivery in Manhattan & Brooklyn. Just upload a document and click print. 



