.container
  .col-md-12
    #time.pull-right
      &copy2016 Valet Print Inc.
    %br
    %h1.text-center 
      valet print
      %sup beta

    .cta.text-center 3 hour delivery in Manhattan & Brooklyn. Just upload a document and click print. 



