.container
  .col-md-12.header
    #time.pull-right
      =link_to 'How it works', static_pages_about_path
      =link_to 'Home', root_url
    %br
    .text-center 
      %span.title
        %h1= link_to 'Valet Print', root_url

    .cta.text-center 3 hour delivery in Manhattan & Brooklyn. Just upload a document and click print. 



