.container
  .col-md-12.header
    #time.pull-right
      %span#about
        =link_to 'How it works', static_pages_about_path
      =link_to 'Home', root_url
    %br
    .text-center 
      %span.title
        %h1= link_to 'Valet Print', root_url

    .cta.text-center 24 hour printing and delivery service in NYC. Just upload a document and click print. 




:javascript
  $('#about').click( function() {
    mixpanel.track('page viewed', {
      'page name' : 'about',
      'url' : window.location.pathname  
    })
  });